{% extends '::base.html.twig' %}

{% block body %}
<div class="hero-unit">
    <h1>Hello, {{ company.title }}!</h1>

    <p>This is your company's private page. Your employees can join here if they want to have a meal.</p>

    <p>
        <a class="lt-join btn btn-primary btn-large">
            Join now
        </a>
    </p>

</div>

<form style="display: none;" class="lt-join-form well form-horizontal" method="post"
      action="{{ path('signup', {'token': company.token}) }}">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">Your name or nickname</label>

            <div class="controls">
                <input name="client[name]" required="required" type="text" class="input-xlarge" id="input01">

                <p class="help-block">It will appear on your mealbox..</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">Your email</label>

            <div class="controls">
                <input name="client[email]" type="text" class="input-xlarge" id="input01">

                <p class="help-block">If you want us to email you a secure link to your private page..</p>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>

</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('.lt-join').click(function () {
            $('.lt-join-form').show();
            return false;
        });
    });
</script>
{% endblock %}

