{% extends '::base.html.twig' %}

{% block body %}
<div class="hero-unit">
    <h1>{% trans with {'%title%': company.title} %}Hello, %title%{% endtrans %}</h1>

    <p>{% trans %}This is your company's private page. Your employees can join here if they want to have a
        meal.{% endtrans %}</p>

    {% if company.clients %}
    <div class="lt-company-clients">
        <p>{% trans %}Some people from your company have already joined.{% endtrans %}</p>
        <ul>
            {% for client in company.clients %}
            <li>{{ client.name }} - <a href="{{ path('clientPage', {'token': client.token})}}">{% trans %}view his
                page{% endtrans %}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% endif %}

    <p>
        <a class="lt-join btn btn-primary btn-large">
            {% trans %}Join now{% endtrans %}
        </a>
    </p>

</div>

<form style="display: none;" class="lt-join-form well form-horizontal" method="post"
      action="{{ path('signup', {'token': company.token}) }}">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">{% trans %}Your name or nickname{% endtrans %}</label>

            <div class="controls">
                <input name="client[name]" required="required" type="text" class="input-xlarge" id="input01">

                <p class="help-block">{% trans %}It will appear on your mealbox..{% endtrans %}</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{% trans %}Your email{% endtrans %}</label>

            <div class="controls">
                <input name="client[email]" type="text" class="input-xlarge" id="input01">

                <p class="help-block">{% trans %}If you want us to email you a secure link to your private
                    page..{% endtrans %}</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{% trans %}Your phone number{% endtrans %}</label>

            <div class="controls">
                <input name="client[phone]" type="text" class="input-xlarge" id="input01">

                <p class="help-block">{% trans %}We will contact you to confirm your order if necessary{% endtrans %}</p>
            </div>
        </div>
    </fieldset>


    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans %}Submit{% endtrans %}</button>
    </div>


</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('.lt-join').click(function () {
            $('.lt-join-form').show();
            return false;
        });
    });
</script>
{% endblock %}

