{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block body %}
<div class="hero-unit">
    <h1>Hello, {{ company.title }}!</h1>

    <p>This is your company's private page. Your employees can join here if they want to have a meal.</p>

    <p>
        <a class="btn btn-primary btn-large">
            Join now
        </a>
    </p>
</div>

{% endblock %}

