{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block app %}
{{ parent() }}
<script type="text/javascript">
    LT.config.menus = {{ menus | serialize('json') | raw }};
    LT.config.orders = {{ orders | serialize('json') | raw }};

    LT.config.orderBaseUrl = "{{ path('orderBaseUrl') }}";
</script>
{% endblock %}

{% block body %}

<div class="row-fluid">
    <div class="span12" style="text-align: center">
        <ul class="nav nav-pills" data-bind="foreach: menus">
            <li data-bind="click: $root.activateMenu, css: {active: $root.isActiveMenu($data)}">
                <a href="#" data-bind="text: title"></a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6" data-bind="with: activeMenu">
        <div class="well lt-list" style="padding: 8px 0">
            <ul class="nav nav-list">
                <li class="nav-header">Menu for <span data-bind="text: title"></span></li>
                <!-- ko foreach: categories -->
                    <li class="nav-header"><span data-bind="text: title"></span></li>
                    <!-- ko foreach: $parent.getItemsForCategory($data) -->
                    <li data-bind="click: $root.addToActiveOrder">
                        <a href="#">
                            <span data-bind="text: title"></span>
                            <span class="pull-right lt-controls" data-bind="text: price"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                <!-- /ko -->
            </ul>
        </div>
    </div>

    <div class="span6">
        <div class="well lt-list" style="padding: 8px 0" data-bind="with: activeOrder">
            <ul class="nav nav-list">
                <li class="nav-header">Your order for <span data-bind="text: title"></span></li>
                <!-- ko foreach: activeCategories -->
                    <li class="nav-header"><span data-bind="text: title"></span></li>
                    <!-- ko foreach: $parent.getActiveItemsForCategory($data) -->
                    <li>
                        <a href="#">
                            <span data-bind="text: title"></span>

                            <span class="pull-right lt-controls">
                                <span class="lt-action" data-bind="click: $root.removeFromOrder">-1</span>
                                <span class="lt-action" data-bind="click: $data.addOne">+1</span>
                                <span data-bind="text: amount"></span>
                                <span data-bind="text: price"></span>
                            </span>
                        </a>
                    </li>
                    <!-- /ko -->
                <!-- /ko -->
            </ul>
            <div style="padding: 8px 19px">
                <button class="btn" data-loading-text="saving..." data-bind="click: $root.submitOrder" autocomplete="off">Submit your order</button>
                Total: <span data-bind="text: totalPrice"></span>
            </div>

        </div>

    </div>
</div>

{% endblock %}