{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block app %}
{{ parent() }}
<script type="text/javascript">
    LT.config.menus = {{ menus | serialize('json') | raw }};
    LT.config.orders = {{ orders | serialize('json') | raw }};

    LT.config.orderBaseUrl = "{{ path('orderBaseUrl') }}";
</script>
{% endblock %}

{% block body %}


<div class="row-fluid">
    <div class="span12">
        <h3>Calendar</h3>
        <ul class="nav nav-pills" data-bind="foreach: menus">
            <li data-bind="click: $root.activateMenu, css: {active: $root.isActiveMenu($data)}">
                <a href="#" data-bind="text: title"></a>
            </li>
        </ul>
    </div>
</div>


<div class="row-fluid">
    <div class="span6" data-bind="with: activeMenu">
        <h3>Menu for <span data-bind="text: title"></span></h3>

        <ul class="nav nav-pills nav-stacked" data-bind="foreach: items">
            <li data-bind="click: $root.addToActiveOrder">
                <a href="#">
                    <span data-bind="text: title"></span>
                    <span class="pull-right" data-bind="text: price"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="span6" data-bind="with: activeOrder">
        <h3>Your order for <span data-bind="text: title"></span></h3>
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: activeItems">
            <li>
                <a href="#" class="title">
                    <span data-bind="text: title"></span>

                    <span class="pull-right">
                        <span class="" data-bind="text: amount"></span>
                        <span class="" data-bind="click: $root.removeFromOrder">-1</span>
                        <span class="" data-bind="click: $data.addOne">+1</span>

                    </span>
                </a>
            </li>
        </ul>
        <div class="total">
            Total: <span data-bind="text: totalPrice"></span>
        </div>
        <button data-bind="click: $root.submitOrder">Submit your order</button>
    </div>
</div>


{% endblock %}