{% extends '::base.html.twig' %}

{% block title "Hello " ~ app.user.username %}


{% block body %}
    <h1>Hello {{ app.user.username }}!</h1>
        <p><a href="{{ path('backend_logout') }}">Logout</a></p>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
