{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
{% for order in orders %}
    <div class="order">
        <a href="{{ path('client_order_edit', {'id': order.id}) }}">#{{ order.id }}</a> -
        <a href="{{ path('company_client_edit', {'id': order.client.id }) }}">#{{ order.client }}</a>

    </div>
{% endfor %}

{% endblock %}
